<nav class="navbar navbar-dark bg-dark logoNavbar">
  <div class="container-fluid">
    <!-- Brand -->
    <span class="navbar-brand mb-0 h1" href="#">
      <img src="logo.png" alt="" width="50" height="50">
    </span>
  </div>
</nav>
