html {
  padding: 0.8em;
  font-family: 'helvetica neue';
}

/*//////////// Graph//////////////////////////////// */
/*///////////////////////////////////////////////// */
/*//////////////////////////////////////////////// */


#myDiagramDiv {
  flex-grow: 1;
}

#myPaletteDiv, #myDiagramDiv {
  background-color: #9b9b9b;
  height: 87vh;
}

.buttons form, h3{
  display: inline;
}

.buttons button{
  margin: 0 10px 10px 0;
}



/*//////////// Lessons List //////////////////////// */
/*///////////////////////////////////////////////// */
/*//////////////////////////////////////////////// */
.lessonsDisplay form{
    display: inline;
}

.lessonsDisplay .form-control{
  width: 200px;
  margin: 0 20px 0 50px;
}

.display button{
  background: transparent;
  color: black;
  border: none;
  width: 760px;
}

.delete {
  float: right;
}
