html {
  font-family: 'helvetica neue';
}

/*//////////// navbar//////////////////////////////// */
/*///////////////////////////////////////////////// */
/*//////////////////////////////////////////////// */
.logoNavbar{
  direction: rtl;
  margin-bottom: 10px;
}

/*//////////// copyright//////////////////////////////// */
/*///////////////////////////////////////////////// */
/*//////////////////////////////////////////////// */
.copyright{
  direction: ltr;
  text-align: center;
}

/*//////////// Lessons List //////////////////////// */
/*///////////////////////////////////////////////// */
/*//////////////////////////////////////////////// */
.lessonsList{
  margin: 1em 1.3em 0.8em 1.3em;
  height: 75vh;
}

.lessonTitle{
  font-family: 'M PLUS 1p', sans-serif;
}

.lessonsDisplay form{
    display: inline;
}

.lessonsDisplay .form-control{
  width: 80%;
  margin: 0 20px 0 50px;
}

.embed, .view{
  margin-right: 5px;
}

.display{
  width: 57%;
}

.display button{
  background: transparent;
  color: black;
  border: none;
  /* width: 620px; */
}

.delete {
  float: right;
}

/*//////////// Graph//////////////////////////////// */
/*///////////////////////////////////////////////// */
/*//////////////////////////////////////////////// */


#myDiagramDiv {
  flex-grow: 1;
}

#myPaletteDiv, #myDiagramDiv {
  height: 87vh;
  background-color: #9b9b9b;
}

.buttons form, h3{
  display: inline;
}

.buttons button{
  margin: 0 10px 10px 0;
  background-color: #9b9b9b;
  color: white;
}



/*//////////// Madrasa Style //////////////////////// */
/*///////////////////////////////////////////////// */
/*//////////////////////////////////////////////// */

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.chat {
  background: #021924;
  position: relative;
  width: 55%;
  margin: auto;
  padding: 50px;
  border: 1px solid black;
  border-radius: 70px;
  height: 500px;
  overflow-y: scroll;
}

.director span {
  background: lightyellow;
  padding: 4px 10px;
  margin: 3px;
}

.msg {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 120%;
  margin-bottom: 10px;
}

.bot {
  color:rgb(17, 16, 16);
  background: rgb(7, 194, 241);
}

.user {
  margin-right: auto;
  color:rgb(19, 17, 17);
  background: hsl(118, 81%, 69%);
}

.bot, .user{
  font-size: 150%;
}

.director-container {
  float: left;
  color : white;
  background: #021924;
  padding: 4px 10px;
  border-radius: 20px;
  position: absolute;
  margin: auto;
  font-size: 100%;
  bottom: 20px;
  left: 20px;
}

.skitt-ui--not-listening #skitt-toggle-button {
  width: 60px;
  height: 60px;
  background-size: 72% 72%;
  background-position: 7px 6px;
}



@media screen and (max-width: 1200px) {
  .chat {
    width: 65%;
    height: 500px;
    float: right;
    margin: 2%;
    padding: 20px;
  }

  .bot, .user{
    font-size: 120%;
  }
}
/*# sourceMappingURL=style.css.map */
